<div class="accordion-item">
    <h2 class="accordion-header" id={{random_id_forest}}>
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            {{title}}
        </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
    aria-labelledby={{random_id_forest}}>
    <div class="accordion-body">
        {{description}}
    </div>
    <button class="btn btn-primary" style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">Entrar na tarefa</button>
    <button class="btn btn-primary" style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">Finalizar projeto</button>
    </div>
</div>